.card{
    position: relative;
    margin-top: 100px;
    top: 35% !important;
    background-color: rgba(255, 255, 255, 0) !important;
    padding: 20px;
    height: fit-content;
    --b: 5px; /* border thickness */
    --c: #0000 25%,rgb(255, 255, 255) 0; /* define the color here */
    padding: 10px;
    background:
      conic-gradient(from 90deg  at top    var(--b) left  var(--b),var(--c)) 0    0,
      conic-gradient(from 180deg at top    var(--b) right var(--b),var(--c)) 100% 0,
      conic-gradient(from 0deg   at bottom var(--b) left  var(--b),var(--c)) 0    100%,
      conic-gradient(from -90deg at bottom var(--b) right var(--b),var(--c)) 100% 100%;
    background-size: 50px 50px; /* adjust border length here */
    background-repeat: no-repeat;
    transition: .6s;
    cursor: pointer;

    
} 


.border2{
height: 100%;
padding: 10px;
}

.card2{
    --b: 5px; /* border thickness */
    --c: #0000 25%,rgb(255, 255, 255) 0; /* define the color here */
    padding: 10px;
    background:
      conic-gradient(from 90deg  at top    var(--b) left  var(--b),var(--c)) 0    0,
      conic-gradient(from 180deg at top    var(--b) right var(--b),var(--c)) 100% 0,
      conic-gradient(from 0deg   at bottom var(--b) left  var(--b),var(--c)) 0    100%,
      conic-gradient(from -90deg at bottom var(--b) right var(--b),var(--c)) 100% 100%;
    background-size: 50px 50px; /* adjust border length here */
    background-repeat: no-repeat;
    transition: .6s !important;
    cursor: pointer;
}

.card2:hover{
    background-size: 51% 51%;
}

.card3{
    --b: 5px; /* border thickness */
    --c: #0000 25%,rgb(255, 255, 255) 0; /* define the color here */
    padding: 10px;
    background:
      conic-gradient(from 90deg  at top    var(--b) left  var(--b),var(--c)) 0    0,
      conic-gradient(from 180deg at top    var(--b) right var(--b),var(--c)) 100% 0,
      conic-gradient(from 0deg   at bottom var(--b) left  var(--b),var(--c)) 0    100%,
      conic-gradient(from -90deg at bottom var(--b) right var(--b),var(--c)) 100% 100%;
    background-size: 50px 50px; /* adjust border length here */
    background-repeat: no-repeat;
    transition: .6s !important;
    cursor: pointer;
}

.card3:hover{
    background-size: 51% 51%;
}
