@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.background-containerr {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerr {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;

}



.lines {
position: absolute;
top: 0;
left: 0;
right: 0;
height: 100%;
margin: auto;
width: 100vw;
z-index: 2;
}

.line {
position: absolute;
width: 1px;
height: 100%;
top: 0;
left: 50%;
background: rgba(0, 0, 0, 0);
overflow: hidden;

}
.line::after {
content: "";
display: block;
position: absolute;
height: 15vh;
width: 100%;
top: -50%;
left: 0;
background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ff0000 75%, #730000 100%);
-webkit-animation: drop 7s 0s infinite;
      animation: drop 7s 0s infinite;
-webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
-webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
      animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}
.line:nth-child(1) {
margin-left: -25%;
}
.line:nth-child(1)::after {
-webkit-animation-delay: 2s;
      animation-delay: 2s;
}
.line:nth-child(3) {
margin-left: 25%;
}
.line:nth-child(3)::after {
-webkit-animation-delay: 2.5s;
      animation-delay: 2.5s;
}


@-webkit-keyframes drop {
0% {
top: -50%;
}
100% {
top: 110%;
}
}

@keyframes drop {
0% {
top: -50%;
}
100% {
top: 110%;
}
}



@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

@media (max-width: 600px) {
  .containerr {
    width: 100%;
    height: 100%;
  }

  .container3{
    margin-top: 50px;
  }
  .arrow {
    top: 70%;
    transform: rotate(-90deg);
    left: 70%;
  }

  .arrow span {
    display: block;
    width: 4.5vw;
    height: 4.5vw;
    border-bottom: 5px solid rgb(255, 255, 255);
    border-right: 5px solid rgb(140, 0, 0);
    margin: -10px;
    animation: animate 2s infinite;
  }

  .start {
    display: none
  }

}